<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TheWebServiceSoap" />
                <binding name="StockQuoteSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53770/TheWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TheWebServiceSoap"
                contract="MyFirstWebServiceReference.TheWebServiceSoap" name="TheWebServiceSoap" />
          <endpoint address="http://www.webservicex.com/stockquote.asmx"
      binding="basicHttpBinding" bindingConfiguration="StockQuoteSoap"
      contract="StockReference.StockQuoteSoap" name="StockQuoteSoap" />
          <!--<endpoint address="http://www.webservicex.com/stockquote.asmx"
            binding="customBinding" bindingConfiguration="StockQuoteSoap12"
            contract="StockReference.StockQuoteSoap" name="StockQuoteSoap12" />-->
        </client>
    </system.serviceModel>
  <connectionStrings>

    <add name="RegConnectionString" connectionString="server=BRYANT-DESKTOP\SQLEXPRESS;database=games;uid=sa;password=@teamasi;" providerName="System.Data.SqlClient"  />
  </connectionStrings>

</configuration>