<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="asi.faceless.d.Properties.Settings.MyVCKSQLConnnectionString" connectionString="Data Source=PFIFIELD-HP;Initial Catalog=VCK;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="ImageTransfer.Properties.Settings.iknetConnectionString" connectionString="Data Source=PFIFIELD-HP;Initial Catalog=iknet;Initial Catalog=IKNET;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="vsSQL" connectionString="Data Source=PFIFIELD-HP;Initial Catalog=VCK;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="vsVFP" connectionString="Provider=vfpoledb.1;Data Source=C:\\projects\\ACDM\\data\\ACDM.DBC;Collating Sequence=general;Exclusive=false;Nulls=false;Mode=ReadWrite|Share Deny None;Password=vckuser"/>
  </connectionStrings>
</configuration>